HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!*/src/main/*/target/
!*/src/test/*/target/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!*/src/main/*/build/
!*/src/test/*/build/
### VS Code ###
.vscode/
secrets.properties
target
dist
# Numerous always-ignore extensions
*.bak
*.patch
*.diff
*.err
# temp file for git conflict merging
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.tmp.html
*.dump
# OS or Editor folders
.DS_Store
._*
.cache
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
thumbs.db
# Folders to ignore
.hg
.svn
.CVS
node_modules/
jscoverage_lib/
src/main/webapp/WEB-INF/ftl/rsrc/
src/main/webapp/rsrc/dist/
src/main/resources/application-local.properties
webpack-assets.json
.env
.gclient_done
**/.npmrc
.tags*
.vs/
*.pyc
*.sln
*.VC.db
*.VC.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcodeproj
/.idea/
SHASUMS256.txt
**/package-lock.json
compile_commands.json
.envrc
# npm package
/npm/dist
/npm/path.txt
/npm/checksums.json
.npmrc
# Generated API definitions
electron-api.json
electron.d.ts
# Spec hash calculation
spec/.hash
# Eslint Cache
.eslintcache*
# Generated native addon files
/spec/fixtures/native-addon/echo/build/
# If someone runs tsc this is where stuff will end up
ts-gen
# Used to accelerate CI builds
.depshash
.depshash-target
# Used to accelerate builds after sync
patches/mtime-cache.json
spec/fixtures/logo.png